<h1>Baby's Feeding Details</h1>




<h2><%= @baby.name %></h2>

<br>
<% @schedules.each do |scheme| %>
  <% if scheme.baby_id == baby.id %>
<p><b>Feeding Type:</b> <%= scheme.feeding_type %></p>
<p><b>Total amount:</b> oz/ml<%= scheme.total_amount %></p>
  <% end %>
  <% end %>

<br>

<a href="/babies/<%= @baby.id %>/edit">Edit Baby</a>

<br></br>

<form action="/babies/<%= @baby.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Delete Baby">
</form>

<br></br>

<a href="/babies">View All babies</a>
