<h1>Baby's Feeding Details</h1>

<h2>Name: <%= @baby.name %> <br> Age: <%= @baby.age %> 
<form action="/babies/:name/edit" method="POST">
  <input type="hidden" id="hidden" name="_method" value="edit"/>
  <input type="submit" value="Edit Baby">
</form>
<form action="/babies/<%= @baby.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Delete Baby">
</form>
</h2>


<ul>

<% if @schedules.size > 0 %>
<% @schedules.each do |scheme| %>
  <% if scheme.baby_id == @baby.id %>
    <b>Start:</b> <%= scheme.start_time %>
    <b>End:</b> <%= scheme.end_time %><br>
    <b>Feeding Type:</b> <%= scheme.feeding_type %>
    <b>Total amount:</b> <%= scheme.total_amount %> oz <br>
    <a href="/schedules/<%= scheme.id %>/update">Update Baby Logs</a>
   <br><br>
   <% end %>
  <% end %>
<br>
<br><br>
<a href="/babies/<%= @baby.id %>/edit">Add Baby Logs</a><br>
<a href="/babies">View All babies</a>
<% else %>
<p>No logs for this baby. <a href="/babies/<%= @baby.id %>/edit">Add Baby Logs </a>.</p>
<% end %>

</ul>

